---
import SectionWrapper from '@/layouts/section-wrapper.astro';
---

<SectionWrapper
  title='Shape'
  id='shapes'
  code={`
.star {
  clip-path: shape(
    from 50px 0px,
    line to 61px 35px,
    line to 98px 35px,
    line to 68px 57px,
    line to 79px 91px,
    line to 50px 70px,
    line to 21px 91px,
    line to 32px 57px,
    line to 2px 35px,
    line to 39px 35px,
    close
  );
}
`}>
  <div class='shapes-holder'>
    <div class='col'>
      <div class='star path'></div>
      <div class='bubble path'></div>
      <div class='bridge path'></div>
    </div>
    <div class='col'>
      <div class='star shape'></div>
      <div class='bubble shape'></div>
      <div class='bridge shape'></div>
    </div>
  </div>
</SectionWrapper>

<style>
  .shapes-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-lg);
  }

  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-lg);
    padding: var(--s-lg);
    border-radius: var(--br-lg);
    background-color: color-mix(in srgb, var(--c-background) 60%, transparent);
    border: 3px dashed transparent;

    &:nth-child(2) {
      background-color: color-mix(
        in srgb,
        var(--c-background) 90%,
        transparent
      );
      border: 3px dashed var(--c-accent);
    }
  }

  .star {
    width: 100px;
    height: 100px;
    background: var(--c-accent);
  }
  .star.path {
    clip-path: path(
      'M50,0 L61,35 L98,35 L68,57 L79,91 L50,70 L21,91 L32,57 L2,35 L39,35 Z'
    );
  }
  .star.shape {
    clip-path: shape(
      from 50px 0px,
      line to 61px 35px,
      line to 98px 35px,
      line to 68px 57px,
      line to 79px 91px,
      line to 50px 70px,
      line to 21px 91px,
      line to 32px 57px,
      line to 2px 35px,
      line to 39px 35px,
      close
    );
  }

  .bubble {
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
  }
  .bubble.path {
    width: 100px;
    height: 100px;
    clip-path: path(
      'm 5 0 H 95 Q 100 0 100 5 V 92 Q 100 97 95 97 H 70 l -5 -7 l -5 7 H 30 l -5 -7 l -5 7 H 5 Q 0 97 0 92 V 5 Q 0 0 5 0'
    );
  }
  .bubble.shape {
    width: 100px;
    height: 100px;
    clip-path: shape(
      from 5% 0%,
      hline to 95%,
      curve to 100% 5% with right top,
      vline to 92%,
      curve to 95% 97% with right 97%,
      hline to 70%,
      line by -5% -7%,
      line by -5% 7%,
      hline to 30%,
      line by -5% -7%,
      line by -5% 7%,
      hline to 5%,
      curve to left 92% with left 97%,
      vline to 5%,
      curve to 5% 0% with left top
    );
  }

  .bridge {
    width: 250px;
    height: 100px;
    background-color: blue;
    grid-column: span 2;
  }
  .bridge.path {
    clip-path: path(
      'M 0 0
     H 250
     V 100
     H 225
     Q 125 0, 25 100
     H 0
     Z'
    );
  }
  .bridge.shape {
    clip-path: shape(
      from top left,
      hline to 100%,
      vline to 100%,
      hline to 90%,
      curve to 10% 100% with 50% 0%,
      hline to 0%
    );
  }
</style>
