---
import Hero from '../components/00-hero.astro';
import Shape from '../components/01-shape.astro';
import Zoom from '../components/02-zoom.astro';
import AlignContent from '../components/03-align-content.astro';
import cssLogo from '../assets/purple-css-logo.webp';
import '../styles/reset.css';
import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Sharing is Caring</title>
  </head>
  <body>
    <img class='css-logo' title='New CSS Logo!' src={cssLogo.src} />
    <Hero />
    <Shape />
    <Zoom />
    <AlignContent />
  </body>
</html>

<!-- 
  Other props for next sessions:
  
  - @property
  - conical gradients
  -
  
-->
