---
import Hero from '../components/00-hero.astro';
import AlignContent from '../components/01-align-content.astro';
import Zoom from '../components/02-zoom.astro';
import UserValid from '../components/03-user-valid.astro';
import RelativeColors from '../components/04-relative-colors.astro';
import ColorMix from '../components/04b-color-mix.astro';
import LightDark from '../components/04c-light-dark.astro';
import RoundModRem from '../components/05-round-mod-rem.astro';
import TextWrap from '../components/06-text-wrap.astro';
import Shape from '../components/07-shape.astro';
import StartingStyle from '../components/08-starting-style.astro';
import MediaQueryRange from '../components/09-media-query-range-syntax.astro';
import cssLogo from '../assets/purple-css-logo.webp';
import '../styles/reset.css';
import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Sharing is Caring</title>
  </head>
  <body>
    <Hero />

    <AlignContent />
    <Zoom />
    <UserValid />
    <RelativeColors />
    <ColorMix />
    <LightDark />
    <RoundModRem />
    <TextWrap />
    <Shape />
    <StartingStyle />
    <MediaQueryRange />

    <img class='css-logo' title='New CSS Logo!' src={cssLogo.src} />
  </body>
</html>

<!-- 
  Other props for next sessions:
  
  - @property
  - conical gradients
  - anchor API
  - select API
  - subgrid
  - nth-child( <N> of <selector> )
  - :has()
  - :not() 
  - :where()
  - border-image
-->
