---
import SectionWrapper from '../layouts/section-wrapper.astro';
---

<SectionWrapper title='Align Content'>
  <div>
    <p>CSS Is Awesome</p>
  </div>
</SectionWrapper>

<style>
  div {
    border: 10px solid black;
    align-content: center;
    padding: 10px;
    height: 300px;
  }

  p {
    font-size: 40px;
    background: black;
    color: white;
    padding: 20px;
  }
</style>
