<section class='hero'>
  <div>
    <h1>Sharing is Caring</h1>
    <h2>New CSS features you can use today (Part 02)</h2>
  </div>
</section>

<style>
  .hero {
    height: 100dvh;
    align-content: center;

    div {
      background: linear-gradient(
          -20deg,
          rgba(0, 0, 0, 0.05),
          var(--c-secondary)
        ),
        linear-gradient(45deg, var(--c-accent), var(--c-primary) 80%);
      width: fit-content;
      margin-inline: auto;
      padding: var(--s-lg) var(--s-xl);
      border-radius: var(--br-lg);
    }

    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      text-align: center;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 900;
      text-align: center;
      max-width: 20ch;
      line-height: 1.2;
      margin-top: var(--s-sm);
    }
  }
</style>
