---
import cssLogo from '../assets/purple-css-logo.webp';
import '../styles/reset.css';
import '../styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Sharing is Caring</title>
  </head>
  <body>
    <slot />
    <img class='css-logo' title='New CSS Logo!' src={cssLogo.src} />
  </body>
</html>
