---
const { title, code, id = 'has' } = Astro.props;
import { BaselineStatus } from 'astro-embed';
---

<section class='section-wrapper'>
  <div class='section-content'>
    <h2>{title}</h2>
    <pre>{code}</pre>
    <BaselineStatus id={id} />
    <slot />
  </div>
</section>

<style>
  .section-wrapper {
    width: 100%;
    color: var(--c-text);
    height: 100dvh;
    display: grid;
    place-items: center;
    position: relative;

    .section-content > h2 {
      margin-inline: auto;
      margin-bottom: var(--s-lg);
      font-size: 2rem;
      padding: 0.5rem var(--s-lg);

      max-width: fit-content;
      text-align: center;

      background-color: var(--c-primary);
      border-radius: var(--br-sm);
      color: var(--c-text);

      position: absolute;
      top: 20px;
      left: 10px;
      rotate: -5deg;

      z-index: 2;

      &:hover ~ pre {
        opacity: 1;
        rotate: 0deg;
        top: 110px;
        left: 10px;
      }
    }

    .section-content > pre {
      opacity: 0;
      position: absolute;
      top: 20px;
      left: 10px;
      rotate: -5deg;

      padding: var(--s-sm);
      border-radius: var(--br-sm);
      background-color: var(--c-text);
      color: var(--c-background);

      transition: all 0.3s ease-in-out;
    }

    .section-content {
      width: 100%;
      max-width: 800px;
      display: grid;
      padding: var(--s-xl) var(--s-lg);
      margin-inline: auto;
    }

    .baseline-status {
      background-color: white;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  }
</style>
